./meshes/01/01-350um.vtk
./meshes/01/mesh/mesh_0_0.vtu
./meshes/01/mesh/mesh01_fiber.xml
./meshes/01/mesh/mesh01.xml
./meshes/01/mesh/mesh01_sheet.xml
./meshes/average_fibres.xml
./meshes/23/23-350um.vtk
./meshes/average.xml
./meshes/average_sheets.xml