# These files and their dependencies should be installed before running codes!!!
fenics_dolfinx==0.7.1
fenics_ufl==2023.2.0
gmsh==4.12.1
matplotlib==3.8.2
mpi4py==3.1.5
numpy==1.26.3
pandas==2.2.0
pyvista==0.43.0
scipy==1.12.0
streamlit==1.30.0
tqdm==4.66.1